 <!-- <div>
    <div class="btn-container">
        <button mat-raised-button color="primary" (click)="login()" class="btn">Login</button> 
        <button mat-raised-button color="primary" (click)="signUp()" class="btn" >SignUp</button> 
        <button mat-raised-button color="accent" class="btn">My Hotel</button>
    </div> -->
    <div>
        <button mat-raised-button color="primary"  (click)="back()" >Back</button><br><br>
    
    </div><br><br>
   <div>
    <button mat-raised-button color="primary" (click)="login()">Login</button> &nbsp; &nbsp;
    <a routerLink="/user/userSignup" mat-raised-button color="accent">New User?</a>
</div> 