.btn-container{
    position: relative;
    top: 30px;
}
.btn{
    padding: 6px 6px;
    margin: 8px 8px;
}
// .example-form{
//     text-align: center;
//     padding: 20px 25px;
// }
//    margin: 18px 18px;
//    border: 1px solid rgb(105, 28, 177);
// }


// mat-form-field {
//     margin: 10px 14px;
// }

.btn {
    margin-right: 20px;
}


// .mat-form-field {
//     text-align: center;
//   }

.container{
    background-image: url('/assets/images/hotel21.jpg');
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
}