<p>form works!</p>

<form [formGroup]="form">
    <label>Name</label><br>
    <input type="text" formControlName="name"><br><br>

    <label>MobNo</label><br>
    <input type="text" formControlName="mobileNo"><br><br>

    <button (click)="save()">save</button><br><br>
</form>

<div>
    <input type="text" placeholder="Search here..." [(ngModel)]="inputValue" (keyup)="inptVal($event)">
    <button (click)="searchBoxValue()">Search</button>
</div>

<div *ngIf="adminData" class="table-container " >
    <table>
       <tr>
        <th *ngFor="let heading of tableHeading">{{heading}}</th>
    </tr>
    <tr *ngFor="let tabledata of adminData | filter : searchBoxVal ">
        <td>{{tabledata.fullName}}</td>
        <td>{{tabledata.moblieNumber}}</td>
        <td>{{tabledata.email}}</td>
        <td>{{tabledata.city}}</td>
    </tr>
    </table>
</div>

<div>
    {{myName | uppercase}} <br>
    {{myName | lowercase}}
</div>
<br>
<div>
    {{date}} <br>
    {{date | date}} <br>
    {{date | date: 'shortDate'}} <br>
    {{date | date: 'fullDate'}} (IST) <br>
</div>
<br>

<button mat-raised-button color="primary">Submit</button>
<button mat-raised-button color="accent">Save</button>
<br><br>