.parent{
    background-color: rgb(79, 123, 212);
    height: 900px;
    width: 90%;
}
.heading{
    text-align: center;
}
.btn-login{
    background-color: rgb(246, 250, 15);
    padding: 2px 2px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    color: black;
    

}
