
<!-- <br><br> -->
<!-- <h2>{{firstName}}</h2> -->
<!-- <h2 class="user-name">WelCome{{studentName}}</h2>
<div class="container">
  <form>
    <h2>{{formTitle}}</h2>
    Name <br><br>
    <input type="text"> <br><br>
    Passward <br><br>
    <input type="password"> <br><br>
    <button class="submt-btn">submit</button>
  </form>
</div>
<p> you have received amount---{{amount}}</p>
<p>{{isFavCity}}</p>

<h2>{{studentName}}</h2>
<p>{{12+56}}</p>
<p>{{testingInterpolation(12,67)}}</p> -->
<!-- {{myName}}

<br><br>
<input type="text" [value]="myName"> <br><br>
<input type="radio" [checked]="gender"> <br><br>
<input type="text" value="{{myName}}"> <br><br>
<input type="text" [disabled]="isDisabled"><br><br> -->
<!-- <input type="text" disabled="{{isDisabled}}"><br><br> we can not use intpolation majorlly with diabled attribute -->

<!-- <button (click)="testingeventbinding()">click</button>
{{eventBindingData}}
<br><br>
<input type="text" [(ngModel)]="twowaybindingTest"><br><br>
{{twowaybindingTest}}
<br><br>
<button (click)="test()">print</button><br><br> -->

<!-- <app-login></app-login> 
<app-sign-up></app-sign-up> -->
<router-outlet></router-outlet>
<!-- <button routerLink="signUp">signup</button> -->

<!-- <a routerLink="/login">Login Component</a> -->