<div class="container">
    <button (click)="back()">Back</button>

    <h2 class="heading">Login Form</h2>

    <form #loginForm = 'ngForm' class="form-container">

        <label class="label">Full Name</label> &nbsp; <br>

        <input type="text" class="inp-box" name="fullName" ngModel #fullName="ngModel" pattern="[a-zA-Z ]*$" required minlength="5"   maxlength="20"> <br>
        
        <span class="sapn-err" *ngIf="fullName.errors?.['pattern'] && fullName.touched"> Enter name only alphabets</span> <br>

        <span *ngIf="fullName.errors?.['minlength'] && !fullName.errors?.['pattern']" class="sapn-err">Full Name having atleat 5 alphabets</span> <br>

        <label class="pass">Passward</label> &nbsp;<br>

        <input type="text" class="inp-pass" ngModel name="passward" #passward ="ngModel" minlength="8" pattern="[A-Z]{1}[a-zA-Z0-9!@#$%^&*]{9}$"> <br>

        <span *ngIf="passward.errors?.['minlength']" class="sapn-err">Passward should contain atleat 8 characters
        </span> <br>
        <span class="sapn-err" *ngIf="passward.errors?.['pattern'] && !passward.errors?.['minlength']"  >please match the pattern</span><br>

        <label> Confirm Password</label><br>
        <input  class="inp-pass" type="text" ngModel #confirmPass = 'ngModel'
        name="confirmPassword"><br>
        
        <label>Gender</label><br>
        <input type="radio" required value="male" name="gender" ngModel #gender='ngModel'>Male<br>
        <input type="radio" required value="female" name="gender" ngModel #gender='ngModel'>Female<br>
        <input type="radio" required value="other" name="gender" ngModel #gender='ngModel'>Other<br>

        <span class="sapn-err" *ngIf="!gender.errors?.['valid'] && !gender.touched">Gender is required</span> <br><br>

        <button class="sbt-btn" [disabled] ="!loginForm.valid" (click)="submit(loginForm.value)">submit</button>

    </form>
</div>
