<div class="parent">
    <h2 class="heading">WelCome {{uName}}</h2>
    <button (click)="login()" class="btn-login">Login</button> 
    <button routerLink="/signUp" class="btn-login">signUp</button>
    <button (click)="studentActivity()" class="btn-login">Student Activity</button>
    <button routerLink="/student/studentDemo" class="btn-login">Student Demo</button>
    <button (click)="directives()" class="btn-login">Directives</button>
    <button (click)="lifiCycleHooks()" class="btn-login">lifiCycleHooks</button>
    <button (click)="Parent()" class="btn-login">Parent</button>
    <!-- <button (click)="Child()" class="btn-login">Child</button> -->





</div>