<div class="parent">
    <h2 class="heading">WelCome {{uName}}</h2>
    <button (click)="login()" class="btn-login">Login</button> 
    <button routerLink="/signUp" class="btn-login">signUp</button>
    <button (click)="studentActivity()" class="btn-login">Student Activity</button>
    <button routerLink="/student/studentDemo" class="btn-login">Student Demo</button>
    <button (click)="directives()" class="btn-login">Directives</button>
    <button (click)="lifiCycleHooks()" class="btn-login">lifiCycleHooks</button>
    <button (click)="Parent()" class="btn-login">Parent</button>
    <button (click)="apicalls()" class="btn-login">Api Call</button> 
    <button (click)="getApiCall()" class="btn-login">Get Api Call</button>
    <button (click)="form()" class="btn-login" >Form API</button>
    <button (click)="getById()" class="btn-login" >Get API By Id</button>
    <button (click)="delete()" class="btn-login" >Delete APi</button>
    <button (click)="updateDetails()" class="btn-login">update Details</button>



</div>